img {
  max-height: 200px;
  max-width: 100%; /* Ensures images scale properly on mobile */
}

body {
  font-family: Arial Narrow;
  background-color: #e7e9eb;
  padding: 20px;
  text-align: center;
}

h1 {
  margin:auto;
  width: 60%;
  text-align: center;
  font-weight: bold;
  color: #000000;
  margin-bottom: 30px;
  font-size: 32px;
  border:#000000;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: #acff80;
}

p {
  justify-content: center;
  width: 100%;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 20px;
  font-size: 18px;
  color: #000000;
}

.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}

.text-box {
  width: 100%; /* Full width for smaller screens */
  max-width: 400px; /* Keep a maximum width for larger screens */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #acff80;
}

textarea {
  font-family: Arial Narrow;
  font-size: 16px;
  height: 300px;
  resize: none;
  border: none;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.text-box {
  margin-left: 20px;
  margin-right: 20px;
}

.submit-button {
  font-family: Arial Narrow;
  font-size: 15px;
  position: relative;
  background-color: #5dfa0e;
  color: #000000;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: -5px;
}

.submit-button-text {
  color: #000000;
  transition: all 0.2s;
}

.submit-button:disabled {
  position: relative;
  background-color: #868686;
  color: #ffffff;
  opacity: 40%;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: -5px;
}

.submit-button--loading .submit-button-text {
  visibility: hidden;
  opacity: 0;
}

.submit-button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  
  .text-box {
    width: 90%; /* Adjust for smaller screens */
    padding: 15px;
  }

  h1 {
    font-size: 28px; /* Slightly smaller headings on mobile */
  }

  p {
    font-size: 16px; /* Adjust font size for readability */
  }

  textarea {
    font-size: 14px;
    height: 250px; /* Adjust height for mobile */
  }

  .submit-button {
    padding: 8px 15px; /* Slightly smaller button for mobile */
  }
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
